{% extends '_shared/_layout.twig' %}

{% block main %}

	<!-- locations -->
	<div
		class="container c-section">
		<!-- todo: Roep All locations op en pas de title en subtitle aan.  -->
		{% set allLocations = craft.entries.section('locations').level(1).one() %}
		<h2 class="c-section__title">{{ allLocations.title }}</h2>
		<p class="c-section__subtitle">{{ allLocations.subText }}</p>

		<div
			class="row justify-content-center c-section__content c-locations text-center">
			<!-- Roep alle children van All Locations op en loop ze over de lijst. Dit zijn de titels per kolom. Roep dan hiervan ook nog eens de children van op en laat deze de lijst vullen. -->
			{% set regions = allLocations.children().all() %}
			{% for region in regions %}
				<div class="col-12 col-sm-3 col-lg-2">
					<h3>{{ region.title }}</h3>
					<ul class="c-locations__list">
						{% set cities = region.children().all() %}
						{% for city in cities %}
							<li class=" c-locations__list-item pb-2">
								<a class="c-locations__link " href="{{ city.uri }}">
									{{ city.title }}
								</a>
							</li>
						{% endfor %}
					</ul>

				</div>
			{% endfor %}

		</div>
		<img class="col-12 mb-5" src="{{url('img/map.png')}}" alt="">


	</div>


{% endblock %}
